
.icon-eye:before { content: '\e800'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-color-adjust:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-sun:before { content: '\e806'; } /* '' */
.icon-waves:before { content: '\e807'; } /* '' */
.icon-signal:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */