<div class="theme-ios">
	<form>
		<header class="main">
			<div class="back"><span class="icon-arrow-left"><span>{{ lang.back }}</span></span></div> <img src="static/imgs/favicon.png" /><span class="title">RGB Controller</span>
		</header><!--/main-->

		<div class="pane colorwheel">
			<canvas width="500px" height="500px"></canvas>
			<input name="color" type="hidden" value="" />
		</div><!--/pane-->

		<div class="pane presets">
			<div class="group">
				<div class="entry">
					<span class="icon-gauge"></span><span class="label">{{ lang.speed }}</span>
					<div class="slider">
						<input type="hidden" name="speed" value="" />
						<div class="bar"><div class="highlight">&nbsp;</div><div class="knob">&nbsp;</div></div>
					</div><!--/slider-->
				</div><!--/entry-->
			</div><!--/group-->

			<div class="group">
				<div class="entry">
					<span class="icon-sun"></span><span class="label">{{ lang.strobe }}</span>
					<span class="checkbox">
						<input type="radio" name="effect" value="strobe" />
						<div class="face">
							<div class="knob"></div>
						</div><!--/face-->
					</span><!--/checkbox-->
				</div><!--/entry-->
				<div class="entry">
					<span class="icon-waves"></span><span class="label">{{ lang.fade_colors }}</span>
					<span class="checkbox">
						<input type="radio" name="effect" value="fade-colors" />
						<div class="face">
							<div class="knob"></div>
						</div><!--/face-->
					</span><!--/checkbox-->
				</div><!--/entry-->
				<!--
				<div class="entry">
					<span class="icon-signal"></span><span class="label">{{ lang.fade_in_out }}</span>
					<span class="checkbox">
						<input type="radio" name="effect" value="fade-in-out" />
						<div class="face">
							<div class="knob"></div>
						</div>
					</span>
				</div>
				-->
			</div><!--/group-->
		</div><!--/pane-->

		<div class="pane settings">

			<div class="group">

				<div class="entry" data-toggleClass="show-language">
					<span class="label">{{ lang.language }}</span>
					<span class="arrow"></span>
				</div><!--/entry-->
			</div><!--/group-->
		</div><!--/pane-->
		
		<div class="pane language">

			<div class="group">

				<div class="entry">
					<span class="label">English</span>
				</div><!--/entry-->
				<div class="entry">
					<span class="label">Eesti</span>
				</div><!--/entry-->
			</div><!--/group-->
		</div><!--/pane-->

		<section class="main">

			<div class="group">
				<div class="entry">
					<span class="icon-info"></span><span class="label">{{ lang.turn_on }}</span>
					<span class="checkbox">
						<input type="checkbox" name="status" />
						<div class="face">
							<div class="knob"></div>
						</div><!--/face-->
					</span><!--/checkbox-->
				</div><!--/entry-->
			</div><!--/group-->


			<div class="group">
				<div class="entry">
					<span class="icon-eye"></span><span class="label">{{ lang.brightness }}</span>
					<div class="slider">

						<input type="hidden" name="brightness" value="" />

						<div class="bar"><div class="highlight">&nbsp;</div><div class="knob">&nbsp;</div></div>
					</div><!--/slider-->
				</div><!--/entry-->

				<div class="entry" data-toggleClass="show-colorwheel">
					<span class="icon-color-adjust"></span><span class="label">{{ lang.choose_color }}</span>
					<span class="arrow"></span>
				</div><!--/entry-->
			</div><!--/group-->


			<div class="group">
				<div class="entry" data-toggleClass="show-presets">
					<span class="label">{{ lang.effects }}</span>
					<span class="arrow"></span>
				</div><!--/entry-->
			</div>
			<div class="group">
				<div class="entry" data-toggleClass="show-settings">
					<span class="icon-settings"></span><span class="label">{{ lang.settings }}</span>
					<span class="arrow"></span>
				</div><!--/entry-->
			</div><!--/group-->


		</section><!--/main-->
	</form>
</div><!--/theme-ios-->