@import '../../styles/theme.less';
@import '../../styles/fonts.less';

@highlight: #8900FF;
@base-1: #333;
@base-2: #fff;
@text-1: #fff;
@border-1:#E5E5E5;
@border-2: #8e8e93;

header.main{position: fixed; top:0; left:0; width:100%; background:@base-1; color:@text-1; padding:0.5em 1em; z-index: 900;
	img{height:2em; display: inline-block; vertical-align: middle; margin-right:1em;}
	span{font-size:1.5em; display: inline-block; vertical-align: middle;}
	.back{display: inline-block; width:0; overflow: hidden; height:2em; vertical-align: middle; -webkit-transition:all 0.25s; transition:all 0.25s; position: relative; cursor:pointer;
		.icon-arrow-left{position: absolute; top:0; left:0;
			span{padding-left:1em; font-size:1em;}
			&:before{position:absolute; left:0; top:0; line-height:1.5em;}
		}
	}
}

.pane-visible{
	header.main .back{width:8em;}
}

section.main{padding-top:3em; display: block; -webkit-transition:all 0.5s; transition:all 0.5s;}
.group{background:@base-2; display: block; margin:1em 0; border:@border-1 1px solid; border-left:none; border-right:none;}

.entry{padding:0.7em 1em; display: block; border-bottom:@border-1 1px solid; position: relative;
	.label{font-size:1.2em; display: inline-block; vertical-align: middle;}
	span[class^="icon-"]{width:2em; height:2em; line-height:2em; background:@highlight; color:@text-1; .border-radius(0.3em); display: inline-block; vertical-align: middle; text-align: center; margin-right:1em;

	}
	.arrow{.icon-arrow-right; color:@border-1; font-size:1.5em; right:0.6667em; position: absolute; top:0; line-height:2.3em;}
}

h2{font-size:1.2em; color:#6D6C72; padding:0 0.84em;}
.slider{background:@base-2; position: absolute; top:50%; right:0; left:9.5em;
	.bar{height:1px; left:2em; right:2em; position: absolute; background:@border-1; top:38%;}
	.highlight{background:@highlight; position: absolute; top:0; left:0; width:30%; height:1px; overflow: hidden;}
	.knob{position: absolute; .border-radius(10em); background:#fff; top:0; left:0; height:2em; width:2em; margin-top:-1em; z-index: 10; margin-left:-1em;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);}
}

.checkbox{position: absolute; top:0.7em; right:1em; cursor: pointer;
	input{position: absolute; top:0; left:0; width:100%; height:100%; opacity: 0; cursor: pointer;}
	.face{border:@border-1 1px solid; .border-radius(99em); width:4em; height:2em;  display: block; pointer-events: none;
		-webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05); box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05);
		-webkit-transition:all 0.3s; transition:all 0.3s;
	}
	.knob{position: absolute; .border-radius(10em); background:#fff; top:0; left:0; height:2em; width:2em;  z-index: 10; border:@border-1 1px solid;
		-webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05); box-shadow: 0 1px 1px 0px rgba(0,0,0,0.05);
		-webkit-transition:all 0.3s; transition:all 0.3s;
	}
	input:checked{
		&+.face{background:@highlight; border-color:@highlight;}
		&+.face .knob{left:100%; margin-left:-2em; border-color:@highlight;}
	}
}
.pane{position: fixed;  top:3em; left:0; width:100%; bottom:0; background:@background; z-index: 100;
	-webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition:-webkit-transform 0.5s; transition:transform 0.5s;
	canvas{position: absolute; top:0; left:0; cursor: pointer;}
}

.mobile{
	.pane-visible{
		section.main{-webkit-transform:translateX(-10%);  transform:translateX(-10%); -webkit-filter: blur(5px); -moz-filter: blur(5px);-o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);}
	}
}

.desktop, .tablet{
	section.main{width:25em; border-right:@border-2 1px solid; position: fixed; top:0; left:0; bottom:0;}
	.pane{width:auto; left:25em; right:0; transition:none; -webkit-transition:none; padding:0 1em;
		canvas{left:1em;}
	}
	header.main .back{display: none !important;}
	
	.entry.active{background:@highlight; color:@text-1;
		span[class^="icon-"]{background:@text-1; color:@highlight;}
		.arrow{color:@text-1;}
	}
}

.show-colorwheel .colorwheel{-webkit-transform: translateX(0%); transform: translateX(0%); }
.show-presets .presets{-webkit-transform: translateX(0%); transform: translateX(0%); }
.show-settings .settings{-webkit-transform: translateX(0%); transform: translateX(0%); }
.show-language .language{-webkit-transform: translateX(0%); transform: translateX(0%); }