//main: build.less

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot?98916069');
  src: url('../fonts/fontello/font/fontello.eot?98916069#iefix') format('embedded-opentype'),
       url('../fonts/fontello/font/fontello.woff?98916069') format('woff'),
       url('../fonts/fontello/font/fontello.ttf?98916069') format('truetype'),
       url('../fonts/fontello/font/fontello.svg?98916069#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fontello_addon{display: inline-block; vertical-align: middle; font-family:"fontello";}
.icon-eye{ &:before{ .fontello_addon; content: '\e800'; } }
.icon-gauge{ &:before{ .fontello_addon; content: '\e801'; } }
.icon-color-adjust{ &:before{ .fontello_addon; content: '\e802'; } }
.icon-arrow-right{ &:before{ .fontello_addon; content: '\e803'; } }
.icon-info{ &:before{ .fontello_addon; content: '\e804'; } }
.icon-arrow-left{ &:before{ .fontello_addon; content: '\e805'; } }
.icon-sun{ &:before{ .fontello_addon; content: '\e806'; } }
.icon-waves{ &:before{ .fontello_addon; content: '\e807'; } }
.icon-signal{ &:before{ .fontello_addon; content: '\e808'; } }
.icon-settings{ &:before{ .fontello_addon; content: '\e809'; } }