//main: build.less

a img{border:none;}
*:focus{outline:0;}
textarea{resize:none;}
html{overflow:-moz-scrollbars-vertical;}
a{-moz-outline-style:none;}
img { -ms-interpolation-mode: bicubic; }
.rotated{/* Safari */-webkit-transform: rotate(-90deg);/* Firefox */-moz-transform: rotate(-90deg);/* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.no_select{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block; margin:0; padding:0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{margin:0; font-size:16px; font-family: verdana;}
html, body{ overflow: hidden; display: block}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}

.loader{position: fixed; top:0; left:0; right:0; bottom:0; font-size:10em; z-index: 999; background:@background;
	&:before{content:" "; display: block; width:1em; height:1em; margin:-0.5em 0 0 -0.5em; background:url(../imgs/favicon.png) center center no-repeat; background-size:contain; position: absolute; top:50%; left:50%;
		-webkit-animation: loader 1s infinite linear; animation: loader 1s infinite linear;
	}
}

@-webkit-keyframes loader{
	from{-webkit-transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);}
}

@keyframes loader{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
