//main: build.less

.mobile{
	// Font size fix.
	-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%;
	
	//Scrollivatele DIV-idele peale panna
	//-webkit-overflow-scrolling:touch; overflow: scroll; -ms-overflow-style: none; 
	
	
	// Windows phone viewport. HTML meta tag doesn't work for Windows mobile!
	@-ms-viewport{width:900px;}
	@viewport{width:900px;}
	
}